.container{
    max-width: 200px;
    position: relative;
}
.img{
    max-width: 100%;
}
.content{
    max-width: 100%;
    padding: 15px; 
}
.ods{
    max-width: 150px;
}
.pestal{
    font-family: Impact;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #466995;
    margin: 20px;
    max-width: 40px;
}
.container_pestal{
 float: left;
}
.container {
    display: grid;
    max-width: 1280px;
    position: relative;
    margin: auto;
    grid-gap: 10px;
}

.grid {
    display: grid;
    max-width: 1280px;
    position: relative;
    margin: auto;
    grid-gap: 10px;
    grid-template-areas: "ods soluciones antecedentes"
                         "display display display" 
                         "pestel  actores expertos";                                        
  }
  
  h1, h2 {
    font-family: monospace;
    text-align: center;
  }
  
  .ods{
    grid-area: ods;
  }
  
  .antecedentes {
    grid-area: antecedentes;
  }
  
  .pestel {

    grid-area: pestel;
    
  }
  
  .actores {
    grid-area: actores;
  }
  
  .soluciones {
    grid-area: soluciones;
  }

  .expertos {
    grid-area: expertos;
  }

  .display {
    grid-area: display;
  }

.exp_img{
    max-width: 220px;
}
.sol_img{
    max-width: 150px;
    grid-column: 1;
}
.sol_img1{
    grid-area: s1;
    position: relative;
}
.sol_img2{
    grid-area: s2;
    position: relative;
}
.sol_img3{
    grid-area: s3;
    position: relative;
}
.sol_img4{
    grid-area: s4;
    position: relative;
}
.sol_img5{
    grid-area: s5;
    position: relative;
}
.sol_img6{
    grid-area: s6;
    position: relative;
}
.ant{
    max-width: 100%;
}

.grid_sol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: " s1 s2 s3"
                        "s4 s5 s6";
}